#polaris_viz_tooltip_root,
#polaris_viz_tooltip_root * {
  /* position: fixed;
  width: auto;
  z-index: 99999999999999999;
  top: 0; */
  display: none !important;
}

/* div#polaris_viz_tooltip_root ._Title_gk0ma_1,
div#polaris_viz_tooltip_root ._Series_1mcj1_1 {
  padding: 5px;
}

div#polaris_viz_tooltip_root ._Container_no9uw_1 {
  max-width: 100% !important;
} */
